// Typaface
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap");
$font-family-base: "Almarai", sans-serif;
$regular: 300;
$medium: 400;
$bold: 700;

// Color
$main-color: #2c3252;
