.aboutus__section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em 2em;
  text-align: center;
  overflow: hidden;
  width: 100%;
  .inner__section {
    max-width: 1140px;
    width: 100%;
    .title {
      text-transform: capitalize;
      font-weight: $bold;
      color: $main-color;
      font-size: 3rem;
      margin-bottom: 16px;
      letter-spacing: -1px;
      margin: 0 0 32px 0;
    }
    .blocks {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.33%;
        height: 100%;
        border: 3px solid $main-color;
        border-radius: 32px;
        padding: 2em 1.5em;
        margin: 0 1em;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background: $main-color;
          .block__icon {
            .icon__container {
              svg {
                path {
                  fill: #ffffff;
                }
              }
            }
          }
          .block__title {
            color: #ffffff;
          }
          .block__content {
            color: #ffffff;
          }
        }
        .block__icon {
          overflow: hidden;
          margin: 0 0 16px 0;
          .icon__container {
            overflow: hidden;
            width: 160px;
            height: 160px;
            padding: 12px;
            svg {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: center;
              transition: 0.3s;
            }
          }
        }
        .block__title {
          color: $main-color;
          font-size: 2.5rem;
          margin: 0 0 12px 0;
          letter-spacing: -1px;
        }
        .block__content {
          color: $main-color;
          line-height: 160%;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .aboutus__section {
    .inner__section {
      width: 90%;
      .title {
        font-size: 2rem;
      }
      .blocks {
        flex-direction: column;
        .block {
          width: 90%;
          margin: 1em auto;
        }
      }
    }
  }
}

@media screen and (min-width: 577px) {
  .aboutus__section {
    .inner__section {
      width: 90%;
      .title {
        font-size: 2rem;
      }
      .blocks {
        flex-direction: column;
        .block {
          width: 90%;
          margin: 1em auto;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .aboutus__section {
    .inner__section {
      width: 90%;
      .title {
        font-size: 3rem;
      }
      .blocks {
        flex-direction: column;
        .block {
          width: 80%;
          margin: 1em auto;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .aboutus__section {
    .inner__section {
      width: 90%;
      .blocks {
        flex-direction: row;
        .block {
          width: 33.33%;
          margin: 0 1em;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .aboutus__section {
    .inner__section {
      width: 90%;
      .blocks {
        flex-direction: row;
        .block {
          width: 33.33%;
          margin: 0 1em;
        }
      }
    }
  }
}
