// Typaface
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
$font-family-base: "Poppins", sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

// Color
$main-color: #2c3252;
